<div class="container">
  <div class="row">
    <div class="col-12 mt-5" style="height: 60vh">
      <ngs-code-editor
        style="height: 100%"
        [theme]="theme"
        [codeModel]="codeModel"
        [options]="options">
      </ngs-code-editor>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end">
  <button class="btn btn-primary m-1" (click)="onClick()">Compilar</button>
</div>

<div *ngIf="symbolTable && MiniError.getInstance().errors.length == 0">
  <h4>Tabla de simbolos</h4>
  <table class="table">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Tipo</th>
      <th scope="col">Valor</th>
    </tr>
    <tr *ngFor="let symbol of symbolTable">
      <th scope="row">{{symbol.id}}</th>
      <td>{{VariableType[symbol.variableType]}}</td>
      <td>{{symbol.value}}</td>
    </tr>
  </table>
</div>

<div *ngIf="MiniError.getInstance().errors.length > 0">
  <div *ngFor="let error of MiniError.getInstance().errors">
    <h5>{{error}}</h5>
  </div>
</div>

<div class="container" *ngIf="QueriesSingleton.getInstance()">
  <div *ngFor="let query of QueriesSingleton.getInstance().queries">
    <div>
      <h4>{{query.query}}</h4>
      <table class="table">
        <tr>
          <th *ngFor="let property of query.table.properties">{{property.propertyName}}</th>
        </tr>
        <tr *ngFor="let row of query.table.rows">
          <td *ngFor="let attribute of row.row">{{attribute.value}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>

